@charset "utf-8";
/* typographie */
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
body {
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}
.jour p {
    font-size:14px;
    font-weight: 400;
}
/* barre de navigation */
.navbar {
    border-radius: 0px;
    position: relative;
    margin-bottom: 00px;
    border: 1px solid transparent;
    background-color: #FFFFFF;
    font-weight: 300;
}
.navbar .navbar-right {
 
}
.navbar .navbar-form.navbar-right {

}
.navbar-brand.color-itta {
    font-weight: 900;
    letter-spacing: 4px;
    display: none;
}
/* liens de la barre de navigation */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #B40068;
    background-color: #EBEBEB;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color:  #B40068;
  background-color: transparent;
}
/* breadcrumb */
.breadcrumb {
    background-color: #B40068;
    color: #FFFFFF;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    max-height: 27px;
    
}
/* */
.principale {
    height: 75vh;
}
/* override bouton BS */
.btn-info {
    color: #FFFFFF;
    background-color: #00B0AE;
    border-color: #00B0AE;
    border-radius: 0px;
}
.btn-info:focus,
.btn-info.focus {
    color: #FFFFFF;
    background-color: #00B0AE;
    border-color: #00B0AE;
}
.btn-info:hover {
    color: #00B0AE;
    background-color: #FFFFFF;
    border-color: #00B0AE;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #FFFFFF;
   background-color: #FFFFFF;
    border-color: #00B0AE;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
    color: #FFFFFF;
    background-color: #FFFFFF;
    border-color: #00B0AE;
}
/* classes de date js */
.badge.semaine-chiffre {
    background-color: #B40068;
}
.date-debut, .date-fin {
    font-weight: 700;
    color: #B40068;
}
/* progress bars */
.progress {
  height: 30px;
  margin-bottom: 20px;
  
}
.progress-bar {
  height: 100%;
  font-size: 14px;
  line-height: 30px;  
}
.progress-bar-success {
    background-color: rgba(241,241,241,1.00);
    color: rgba(51,51,51,1.00);
    font-weight: 400;
}
.progress-bar-danger {
  background-color: #B40068;
  font-weight: 400;
}
/* */
.form-control:focus {
  border-color: rgba(0, 176, 174,1.00);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 176, 174, 0.6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 176, 174, 0.6);
}
/* */
footer {
    background-color: rgba(0,0,0,1.00);
    color:#FFFFFF;
    min-height: 25vh;
}
footer p {
    line-height: 50px;
    font-weight: 400;
}
footer a {
    color: #FFFFFF;
    text-decoration: none;
}
footer a:hover,
footer a:focus {
    color: #B40068;
    text-decoration: none;
}
footer a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* */
.modale2 {
    background-color: #FFF;
    margin-top: 2rem;
    padding-top: 2rem;
}
/* */
/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
  box-shadow: 0 0 4px #999;
  outline: none;
}
.ripple:hover {
  background: transparent radial-gradient(circle, transparent 1%, rgba(0, 176, 174, 0.2) 1%) center/15000%;
}
.ripple:active {
  color:white;
  background-color: transparent;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
